.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store
resources/templates/provision/*
app/provision/upload*
.stfolder
.stignore
envinfo.ini

*.php~

app/yealink/resources/firmware/*
