# PCC Standard Format File # DO NOT CHANGE THIS LINE!

ADMIN_ID="admin"
ADMIN_PASS="6609962"


CFG_STANDARD_FILE_PATH=http://{$http_auth_username}:{$http_auth_password}@{$domain_name}:12480/app/provision/{literal}{mac}{/literal}.cfg

SIP_TRANSPORT_1="1"
SIP_TRANSPORT_2="1"
SIP_TRANSPORT_3="1"
SIP_TRANSPORT_4="1"
SIP_TRANSPORT_5="1"
SIP_TRANSPORT_6="1"
SIP_TRANSPORT_7="1"
SIP_TRANSPORT_8="1"

## System Time Settings
TIME_ZONE="{$panasonic_timezone}"
DST_ENABLE="{$panasonic_timezone_dst}"

DST_OFFSET="60"
DST_START_MONTH="3"
DST_START_ORDINAL_DAY="2"
DST_START_DAY_OF_WEEK="0"
DST_START_TIME="120"
DST_STOP_MONTH="11"
DST_STOP_ORDINAL_DAY="1"
DST_STOP_DAY_OF_WEEK="0"
DST_STOP_TIME="120"

## Firmware Upgrade Settings
#FIRM_UPGRADE_ENABLE="Y"

#FIRM_FILE_PATH="http://app.pbx02.jcnt.net/resources/templates/provision/firmware/panasonic/TGP6x-16.01.fw"

############################################################
# Network Settings                                         #
############################################################

## DNS Settings
USER_DNS1_ADDR="01000001"
USER_DNS2_ADDR="04020202"

## HTTP Settings
HTTPD_PORTOPEN_AUTO="Y"

## Time Adjust Settings

NTP_ADDR="pool.ntp.org"
TIME_SYNC_INTVL="60"
TIME_QUERY_INTVL="43200"

CODEC_PRIORITY0_2="1"
CODEC_PRIORITY1_2="1"
CODEC_PRIORITY2_2="1"
CODEC_PRIORITY3_2="1"
CODEC_PRIORITY4_2="1"
CODEC_PRIORITY0_3="1"
CODEC_PRIORITY1_3="1"
CODEC_PRIORITY2_3="1"
CODEC_PRIORITY3_3="1"
CODEC_PRIORITY4_3="1"
CODEC_PRIORITY0_4="1"
CODEC_PRIORITY1_4="1"
CODEC_PRIORITY2_4="1"
CODEC_PRIORITY3_4="1"
CODEC_PRIORITY4_4="1"

PORT_PUNCH_INTVL_1="20"
PORT_PUNCH_INTVL_2="20"
PORT_PUNCH_INTVL_3="20"
PORT_PUNCH_INTVL_4="20"

{if isset($account.1.register_expires)}REG_EXPIRE_TIME_1="{$account.1.register_expires}"{else}REG_EXPIRE_TIME_1="360"{/if}{"\n"}
{if isset($account.2.register_expires)}REG_EXPIRE_TIME_2="{$account.2.register_expires}"{else}REG_EXPIRE_TIME_2="360"{/if}{"\n"}
{if isset($account.3.register_expires)}REG_EXPIRE_TIME_3="{$account.3.register_expires}"{else}REG_EXPIRE_TIME_3="360"{/if}{"\n"}
{if isset($account.4.register_expires)}REG_EXPIRE_TIME_4="{$account.4.register_expires}"{else}REG_EXPIRE_TIME_4="360"{/if}{"\n"}

############################################################
# Line Settings                                            #
############################################################
## Call Control Settings
VM_NUMBER_1="*97"
VM_NUMBER_2="*97"
VM_NUMBER_3="*97"
VM_NUMBER_4="*97"
VOICE_MESSAGE_AVAILABLE="Y"

#DIAL_PLAN_1="1XXXXXXXXXX|X11|480XXXXXXX|602XXXXXXX|623XXXXXXX"

SIP_AUTHID_1="{$account.1.auth_id}"

SIP_PASS_1="{$account.1.password}"
{if isset($account.1.sip_port)}SIP_SRC_PORT_1="5180"{else}SIP_SRC_PORT_1="5060"{/if}{"\n"}
SIP_OUTPROXY_ADDR_1="{$account.1.server_address}"

{if isset($account.1.sip_port)}SIP_OUTPROXY_PORT_1="5180"{else}SIP_OUTPROXY_PORT_1="5060"{/if}{"\n"}
SIP_PRXY_ADDR_1="{$account.1.server_address}"
{if isset($account.1.sip_port)}SIP_PRXY_PORT_1="5180"{else}SIP_PRXY_PORT_1="5060"{/if}{"\n"}
{if isset($account.1.sip_port)}SIP_PRSNC_PORT_1="5180"{else}SIP_PRSNC_PORT_1="5060"{/if}{"\n"}
SIP_PRSNC_ADDR_1="{$account.1.server_address}"

SIP_RGSTR_ADDR_1="{$account.1.server_address}"
{if isset($account.1.sip_port)}SIP_RGSTR_PORT_1="5180"{else}SIP_RGSTR_PORT_1="5060"{/if}{"\n"}

DISPLAY_NAME_1="{$account.1.user_id}"

SIP_SVCDOMAIN_1="{$account.1.server_address}"



SIP_DNSSRV_ENA_1="N"
SIP_DNSSRV_ENA_2="N"
SIP_DNSSRV_ENA_3="N"
SIP_DNSSRV_ENA_4="N"

PHONE_NUMBER_1="{$account.1.user_id}"
LINE_ID_1="{$user_id_1}"
PHONE_NUMBER_2="{$account.2.user_id}"
LINE_ID_2="{$user_id_2}"
PHONE_NUMBER_1="{$account.3.user_id}"
LINE_ID_3="{$user_id_3}"
PHONE_NUMBER_4="{$account.4.user_id}"
LINE_ID_4="{$user_id_4}"





SIP_AUTHID_2="{$account.2.auth_id}"

SIP_PASS_2="{$account.2.password}"
#{if isset($account.2.sip_port)}SIP_SRC_PORT_2="{$account.2.sip_port}"{else}SIP_SRC_PORT_2="5070"{/if}{"\n"}
SIP_SRC_PORT_2="5070"
SIP_OUTPROXY_ADDR_2="{$account.2.server_address}"
#
{if isset($account.2.sip_port)}SIP_OUTPROXY_PORT_2="5180"{else}SIP_OUTPROXY_PORT_2="5060"{/if}{"\n"}

SIP_PRXY_ADDR_2="{$account.2.server_address}"
{if isset($account.2.sip_port)}SIP_PRXY_PORT_2="5180"{else}SIP_PRXY_PORT_2="5060"{/if}{"\n"}
{if isset($account.2.sip_port)}SIP_PRSNC_PORT_2="5180"{else}SIP_PRSNC_PORT_2="5060"{/if}{"\n"}
SIP_PRSNC_ADDR_2="{$account.2.server_address}"

SIP_RGSTR_ADDR_2="{$account.2.server_address}"
{if isset($account.2.sip_port)}SIP_RGSTR_PORT_2="5180"{else}SIP_RGSTR_PORT_2="5060"{/if}{"\n"}

DISPLAY_NAME_2="{$account.2.user_id}"

SIP_SVCDOMAIN_2="{$account.2.server_address}"

SIP_AUTHID_3="{$account.3.auth_id}"

SIP_PASS_3="{$account.3.password}"
#{if isset($account.3.sip_port)}SIP_SRC_PORT_3="{$account.3.sip_port}"{else}SIP_SRC_PORT_3="5070"{/if}{"\n"}
SIP_SRC_PORT_3="5080"
SIP_OUTPROXY_ADDR_3="{$account.3.server_address}"
#
{if isset($account.3.sip_port)}SIP_OUTPROXY_PORT_3="5180"{else}SIP_OUTPROXY_PORT_3="5060"{/if}{"\n"}

SIP_PRXY_ADDR_3="{$account.3.server_address}"
{if isset($account.3.sip_port)}SIP_PRXY_PORT_3="5180"{else}SIP_PRXY_PORT_3="5060"{/if}{"\n"}
{if isset($account.3.sip_port)}SIP_PRSNC_PORT_3="5180"{else}SIP_PRSNC_PORT_3="5060"{/if}{"\n"}
SIP_PRSNC_ADDR_3="{$account.3.server_address}"

SIP_RGSTR_ADDR_3="{$account.3.server_address}"
{if isset($account.3.sip_port)}SIP_RGSTR_PORT_3="5180"{else}SIP_RGSTR_PORT_3="5060"{/if}{"\n"}

DISPLAY_NAME_3="{$account.3.user_id}"

SIP_SVCDOMAIN_3="{$account.3.server_address}"

SIP_AUTHID_4="{$account.4.auth_id}"

SIP_PASS_4="{$account.4.password}"
#{if isset($account.4.sip_port)}SIP_SRC_PORT_4="{$account.4.sip_port}"{else}SIP_SRC_PORT_4="5070"{/if}{"\n"}
SIP_SRC_PORT_4="5090"
SIP_OUTPROXY_ADDR_4="{$account.4.server_address}"
#
{if isset($account.4.sip_port)}SIP_OUTPROXY_PORT_4="5180"{else}SIP_OUTPROXY_PORT_4="5060"{/if}{"\n"}

SIP_PRXY_ADDR_4="{$account.4.server_address}"
{if isset($account.4.sip_port)}SIP_PRXY_PORT_4="5180"{else}SIP_PRXY_PORT_4="5060"{/if}{"\n"}
{if isset($account.4.sip_port)}SIP_PRSNC_PORT_4="5180"{else}SIP_PRSNC_PORT_4="5060"{/if}{"\n"}
SIP_PRSNC_ADDR_4="{$account.4.server_address}"

SIP_RGSTR_ADDR_4="{$account.4.server_address}"
{if isset($account.4.sip_port)}SIP_RGSTR_PORT_4="5180"{else}SIP_RGSTR_PORT_4="5060"{/if}{"\n"}

DISPLAY_NAME_4="{$account.4.user_id}"

SIP_SVCDOMAIN_4="{$account.4.server_address}"

CFG_CYCLIC="Y"
CFG_CYCLIC_INTVL="4320"
CFG_RTRY_INTVL="30"
CFG_RESYNC_TIME=""
CFG_RESYNC_FROM_SIP="check-sync"

